@import '../../utils/shared-styles.scss';

.search-bar {
  margin-bottom: 1.5rem;

  &__input {
    padding: 0.5rem;
    width: 100%;
    background-color: #f0f2f5;
    border: 2px solid $primary-color;
    border-radius: 10px;

    @media only screen and (min-width: 768px) {
        width: 50%;
    }
  }


}