// Variables
$primary-color: #050faa;

$primary-light: #444bbf;

$box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.05);

// Global styles
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  max-width: 1000px;
  margin: auto;
  background-color: #f0f2f5;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

p {
  margin: 0.5rem;
}

.row > * {
  padding-left: 0;
}

.page-margin {
  margin: 0 2rem;
}
