* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  max-width: 1400px;
}

.primary-color {
  color: #050faa;
}

.primary-light {
  color: #444bbf;
}
